@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
button img {
    height: 50%;
}

section {
    padding: 100px 700px 10px 700px;
}

#calendar {
    box-sizing: unset;
}

body {
    background-color: rgb(155, 155, 155);
}